:root {
  --color-strongCyan: hsl(172, 67%, 45%);
  --color-varyDarkCyan: hsl(183, 100%, 15%);
  --color-grayishCyan: hsl(184, 14%, 56%);
  --color-lightGrayishCyan: hsl(185, 41%, 84%);
  --color-veryLightGrayishCyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%)
}