h2 {
  color: #5e7a7d;
}

input[type="number"] {
  border: 0;
  width: 100%;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
  border-radius: 0.5rem;
  cursor: pointer;
}

.container {
  background-color: var(--color-white);
  border-radius: 0.625rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

#bill {
  background: url("../../images/icon-dollar.svg") left no-repeat;
  background-color: var(--color-veryLightGrayishCyan);
}

#people {
  background: url("../../images/icon-person.svg") left no-repeat;
  background-color: var(--color-veryLightGrayishCyan);
}

/* radio buttons styling */
.radio__input {
  display: none;
}

input[type="text"] {
  border: none;
  background-color: var(--color-veryLightGrayishCyan);
  border-radius: 0.5rem;
  width: 7.313rem;
  height: 3rem;
  text-align: center;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
  width: 23.75rem;
}

.item {
  width: 7.375rem;
  text-align: center;
}

.radio__label {
  background-color: var(--color-varyDarkCyan);
  border-radius: 0.5rem;
  color: var(--color-white);
  cursor: pointer;
  width: 7.313rem;
  text-align: center;
  padding: 0.625rem;
}

.radio__input:checked+.radio__label {
  background-color: var(--color-strongCyan);
  background-color: var(--color-strongCyan);
}

.bill,
.tip {
  padding-bottom: 0.625rem;
}

/* style section for inner card */
.right__card {
  background-color: var(--color-varyDarkCyan);
  border-radius: 0.625rem;
  width: 413px;
}

button {
  width: 333px;
  height: 48px;
  border: 0;
  background-color: var(--color-strongCyan);
  background-color: var(--color-strongCyan);
  border-radius: 0.5rem;
}